<div class="login">

  <div class="container">

    <div class="logo">
      <img src="../../assets/images/logo3.png">
    </div>

    <div class="intro">
      <p>Gerenciando sua igreja com Fé e Graça</p>
    </div>

    <div class="btns">
      <ion-button (click)="login()" shape="round" expand="full" color="primary" class="btn2">Faça login</ion-button>
      <ion-button (click)="cadastro()" shape="round" expand="full" color="light" class="btn2">Cadastre-se</ion-button>
    </div>

    

  </div>

</div>
